<div class="w-screen h-screen grid md:flex bg-active">

    <div class="w-fit flex">
        <app-sidebar *ngIf="menu" class="w-full"></app-sidebar>
        <mat-icon (click)="showMenu()" class="text-primary text-4xl">menu</mat-icon>
    </div>

    <div class="w-full flex flex-col gap-4 p-4">

        <div class="flex">
            <span class="text-primary text-2xl font-bold">Inventario</span>
        </div>

        <div class="flex p-4 bg-white h-full rounded-lg">

            <mat-tab-group class="w-full" mat-align-tabs="center">

                <mat-tab >
                    <ng-template mat-tab-label class="w-ful">
                        <div class="flex items-center justify-between p-2 w-full hover:bg-primary rounded-md">
                            <span class="text-primary text-xl font-semibold hover:text-white">{{inventario[0].seccion}}</span>
                        </div>
                    </ng-template>
                    <div class="grid md:grid-cols-3  w-full p-4 mx-4 overflow-auto gap-4">

                        <div (click)="showLugar(item)" [ngClass]="{'bg-primary':item.status === '1'}" *ngFor="let item of inventario[0].lugares" class="w-52 h-20 p-2 bg-active rounded-lg flex justify-between items-center">
                            <span class="text-xl text-white font-bold">{{item.lugar}}</span>
                            <mat-icon class="text-3xl text-white">garage</mat-icon>
                        </div>

                    </div>
                </mat-tab>

                <mat-tab >
                    <ng-template mat-tab-label class="w-ful">
                        <div class="flex items-center justify-between p-2 w-full hover:bg-primary rounded-md">
                            <span class="text-primary text-xl font-semibold hover:text-white">{{inventario[1].seccion}}</span>
                        </div>
                    </ng-template>
                    <div class="grid md:grid-cols-3  w-ful p-2 overflow-auto gap-4">

                        <div (click)="showLugar(item)" [ngClass]="{'bg-primary':item.status === '1'}" *ngFor="let item of inventario[1].lugares" class="w-52 mx-4 h-20 p-2 bg-active rounded-lg flex justify-between items-center">
                            <span  class="text-xl text-white font-bold">{{item.lugar}}</span>
                            <mat-icon class="text-3xl text-white">garage</mat-icon>
                        </div>

                    </div>
                </mat-tab>

                <mat-tab >
                    <ng-template mat-tab-label class="w-ful">
                        <div class="flex items-center justify-between p-2 w-full hover:bg-primary rounded-md">
                            <span class="text-primary text-xl font-semibold hover:text-white">{{inventario[2].seccion}}</span>
                        </div>
                    </ng-template>
                    <div  class="grid md:grid-cols-3  w-full p-2 overflow-auto gap-4">

                        <div (click)="showLugar(item)" [ngClass]="{'bg-primary':item.status === '1'}" *ngFor="let item of inventario[2].lugares" class="w-52 mx-4 h-20 p-2 bg-active rounded-lg flex items-center justify-between">
                            <span class="text-xl text-white font-bold">{{item.lugar}}</span>
                            <mat-icon class="text-3xl text-white">garage</mat-icon>
                        </div>

                    </div>
                </mat-tab>


            </mat-tab-group>            

        </div>

    </div>

    <div class="w-fit flex flex-col gap-4 justify-center items-start rounded-md p-2">

        <div class="flex">
            <span class="text-primary text-lg font-semibold">Disponibilidad</span>
        </div>

        <div *ngFor="let item of inventario" class="flex flex-col gap-4 w-32 bg-white rounded-lg p-2">
            <span class="text-primary text-sm font-regular">{{item.seccion}}</span>
            <mat-progress-spinner
            [diameter]="60"
            [color]="'accent'"
            [mode]="'determinate'"
            [value]="item.disponibilidad">
            </mat-progress-spinner>
            <span class="text-primary text-sm font-bold text-end">{{item.disponibilidad}}%</span>
        </div>
    </div>
    
</div>